# WordPress Core
/wp-admin/
/wp-includes/

# WordPress Content
/wp-content/uploads/

# Configuration files
wp-config.php
.env
.htaccess

# Dependency directories
/node_modules/
/vendor/

# IDE/editor-specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Logs and cache
*.log
*.cache
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp
